*{
    font-family: sans-serif;
    box-sizing: border-box;
    line-height: 140%;
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 15px;
    text-transform:uppercase;
    margin-left: 190px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #121212;
    transition: 0.5s;
}
.logo-div img{
    width: auto;
    
}
.nav-list a{
    text-decoration: none;
}


.mySlides {
    background-size: cover;
    background-position: center bottom;
    height: 93vh;
    display:block;
    align-items: center;
    justify-content: center;

}
.next{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.prev{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.know-more{
    border-radius: 17px;
    border: none;
    padding: 20px;
    background-color: white;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 300px;
    left: 50%;
}
.carousel{
    position: relative;
}
.search-trek{
    position:absolute;
    bottom: 0;
    text-align: center;
}


